/* line 3, ../pre/style.sass */
.prjNav {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 1.5%;
}

/* line 8, ../pre/style.sass */
.prjNav .btn {
  border: none;
  border-radius: 0;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 16, ../pre/style.sass */
.prjNav .btn:hover,
.prjNav .btn:focus,
.prjNav .btn:active,
.prjNav .btn .active,
.prjNav .btn-default:hover,
.prjNav .btn-default:focus,
.prjNav .btn-default:active,
.prjNav .btn-default .active,
.prjNav .btn-default.active {
  color: black;
  background-color: white;
  border-color: #898989;
  border-bottom: 1px solid;
}
@media screen and (min-width: 1200px) {
  /* line 16, ../pre/style.sass */
  .prjNav .btn:hover,
  .prjNav .btn:focus,
  .prjNav .btn:active,
  .prjNav .btn .active,
  .prjNav .btn-default:hover,
  .prjNav .btn-default:focus,
  .prjNav .btn-default:active,
  .prjNav .btn-default .active,
  .prjNav .btn-default.active {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

/* line 35, ../pre/style.sass */
.title {
  margin-top: -2.5%;
  font-weight: bold;
  font-size: 2em;
}

/* line 39, ../pre/style.sass */
.title h1 {
  font-weight: bold;
}

/* line 42, ../pre/style.sass */
.prjHeader {
  display: block;
  max-width: 100%;
  height: 25%;
  margin: 0 auto;
}

/* line 7, ../pre/menu.sass */
a.ph {
  float: left;
  display: block;
  padding: 0.95em;
}

/* line 13, ../pre/menu.sass */
.ph {
  position: absolute;
  font-size: 1.5em;
  color: white;
  background: #3cc597;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 25, ../pre/menu.sass */
.ph:hover {
  color: white !important;
  background: #24775b;
}

/* line 32, ../pre/menu.sass */
.ph img {
  height: auto;
  width: 40px;
}

/* line 37, ../pre/menu.sass */
#cbp-spmenu-s1 h3 {
  background: #3cc597;
}
/* line 39, ../pre/menu.sass */
#cbp-spmenu-s1 h3 img {
  width: 100%;
}

/* General styles for all menus */
/* line 50, ../pre/menu.sass */
.cbp-spmenu {
  background: #3cc597;
  position: fixed;
}

/* line 55, ../pre/menu.sass */
.cbp-spmenu h3 {
  color: white;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: black;
}

/* line 64, ../pre/menu.sass */
.cbp-spmenu a {
  display: block;
  color: white;
  font-size: 1.1em;
  font-weight: 300;
}

/* line 71, ../pre/menu.sass */
.cbp-spmenu a:hover {
  background: white;
  color: black;
}

/* line 76, ../pre/menu.sass */
.cbp-spmenu a:active {
  background: black;
  color: white;
}

/* Orientation-dependent styles for the content of the menu */
/* line 83, ../pre/menu.sass */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 90, ../pre/menu.sass */
.cbp-spmenu-vertical a {
  border-bottom: none;
  padding: 1em;
}

/* line 95, ../pre/menu.sass */
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

/* line 103, ../pre/menu.sass */
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* line 109, ../pre/menu.sass */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
/* line 118, ../pre/menu.sass */
.cbp-spmenu-left {
  left: -240px;
}

/* line 122, ../pre/menu.sass */
.cbp-spmenu-right {
  right: -240px;
}

/* line 126, ../pre/menu.sass */
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* line 130, ../pre/menu.sass */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 136, ../pre/menu.sass */
.cbp-spmenu-top {
  top: -150px;
}

/* line 140, ../pre/menu.sass */
.cbp-spmenu-bottom {
  bottom: -150px;
}

/* line 144, ../pre/menu.sass */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 148, ../pre/menu.sass */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
/* line 154, ../pre/menu.sass */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 160, ../pre/menu.sass */
.cbp-spmenu-push-toright {
  left: 240px;
}

/* line 164, ../pre/menu.sass */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 169, ../pre/menu.sass */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 179, ../pre/menu.sass */
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 183, ../pre/menu.sass */
  .cbp-spmenu-top {
    top: -110px;
  }

  /* line 186, ../pre/menu.sass */
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 192, ../pre/menu.sass */
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 196, ../pre/menu.sass */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 200, ../pre/menu.sass */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 203, ../pre/menu.sass */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
